
.Header{
   padding-top: 50px;
}
.Header img{
    height: 50px;
    width: 50px;
}
.lets-talk-btn button{
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 10px;
    color: white;
    background-color: black;
}