<div class="conatiner">
<div class="row d-flex justify-content-center">
 <div class="col-lg-3 col-12">
    <h1>Human Centered</h1>
    <p>The human perspective is the genuine way to problem-solving, and enjoyable UX is helping in making dramatic change.</p>
 </div>
 <div class="col-lg-3 col-12">
   <h1>Cross platform</h1>
   <p>small and diverse teams ensure that all talents and experience are available at all stages of the life-cycle, impacting the end product's quality.</p>
 </div>
</div>
</div>