name: Build and Push Image

on:
  push:
    
    paths-ignore:
      - "*.md"

concurrency:
  group: ci-workflow
  cancel-in-progress: true

jobs:
  build-push:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: bnar98
          password: bnar_kamal_1998

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |-
            bnar98/kubak-angular:latest
            bnar98/kubak-angular:${{ github.sha }}
            bnar98/kubak-angular:${{ github.ref_name }}